ol{
     float: right; 
     margin-right: 35px;
     border: black;
     border-color: black;
     size: 2px;
     background-color: white;
     padding: 5px;
    }

.font3{
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 30px;
        color: rgb(105, 44, 165);
    }

img{
        border: 5px solid black;
        padding: 5px;
        height: 400px;
        width: 300px;
    
    }
    
.img2{
        border: 2px solid black;
        padding: 2px;
        height: 400px;
        width: 280px;
        float: left;
        margin-right: 20px;
    
    }

.buckypic{
        float: none;  
    }


.jarvypic{
        float: left;
    }


.centervid{
        display: block;
        margin: auto;
    }
    
.h1{
        text-align: center;
    }


.underline{
    text-decoration: underline;
}

.font1{
    font-family:'Courier New', Courier, monospace;
    font-size: 48px;
    color: black;
}

.font2{
    font-family:'Courier New', Courier, monospace;
    font-size: 30px;
    color: black;
    border: 5px;
    border-color: black;
    border-style: double;
    border-width: 5px;
    background-color: white;
    text-align: center;
}


.tableauborder{
    border: 5px;
    border-style: double;
    border-color: black;
    justify-content: center;
}

